<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Firma ubezpieczeniowa </title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<style>
		body { background-color:#0099FF;}
	#main
	{
	    width:1000px;
		margin-left:auto;
		margin-right:auto;
	}
	#admin
	{
	  margin-left:auto;
		margin-right:auto;
	 width:700px;
	 min-height:180px;
	 background-color:#993333;
	 padding:3px;
	  text-align:center;
	}
	

	
	</style>
</head>


<body>
<div id="main">
<form action="View/zaloguj.php" method="post">
<div id="admin">

	<p><h3>Logowanie jako administrator:</h3></p>          
	&nbsp; Login: <input type="text" name="login"/></br></br>
	&nbsp;Haslo: &nbsp;<input type="password" name="haslo"/></br></br>
	 &nbsp;<input type="submit" value="Zaloguj sie"/> 

	 

	</div>
	

</form>
</div>
</body>


</html>